<br>

 <div class="back-icon">
  <%= link_to bathrooms_path do %>
    <i class="fas fa-chevron-circle-left" id = "back-icon"> </i>
  <%end%>
 </div>

<br>

<div class="done-container">
  <h3><em> Thank you for using iPiPi </em></h3>

  <div class="toilet-infos">

  <!-- ADD RATING SYSTEM -->
    <span data-id="<%= @bathroom.id %>" id="bathroom-id"></span>
    <i data-id="1" class="far fa-star" id="star-icon"></i>
    <i data-id="2" class="far fa-star" id="star-icon"></i>
    <i data-id="3" class="far fa-star" id="star-icon"></i>
    <i data-id="4" class="far fa-star" id="star-icon"></i>
    <i data-id="5" class="far fa-star" id="star-icon"></i>
    <!--  -->
  </div>
<span class="hidden" id="toilet-lat"><%= @bathroom.latitude %></span>
<span class="hidden" id="toilet-lng"><%= @bathroom.longitude %></span>

<br>

  <!------- ICONS ------->
  <div class="share-icons">
    <ul>
      <!-- WHATSAPP -->
      <li>
        <a id="whatsapp-share" href="" target="_blank">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
      </li>

      <!-- SMS -->
      <li>
        <a href="https://www.google.com/">
          <i class="fas fa-sms fa-2x"></i>
        </a>
      </li>

    </ul>
  </div>
  <!--------------------->
  <br>
    <%= link_to 'FINISH', bathrooms_path, id: "finish" %>
  </div>

<script>
  // Give link to google maps with directions
  const whatsappLink = document.getElementById("whatsapp-share");
  const bathroomLat = parseFloat(document.getElementById("toilet-lat").innerText);
  const bathroomLng = parseFloat(document.getElementById("toilet-lng").innerText);
  const completeLink = "whatsapp://send?text=https://www.google.com/maps/search/?api=1&query="+ bathroomLat + "," + bathroomLng;
  whatsappLink.href = completeLink;
</script>
