<div class="done-container">
  <div class="background-done"></div>
  <div class="done-card">
      <!--  -->
    <!-- EXIT BUTTOM -->
    <div class="back-icon">
      <%= link_to bathrooms_path do %>
        <i class="fas fa-times" id = "back-icon"> </i>
      <%end%>
    </div>
    <!--  -->
    <div class="txt-done">
      <h1> <strong>THANK YOU !</strong></h1>
    </div>
    <div class="stars-done">
    <!-- ADD RATING SYSTEM -->
    <span data-id="<%= @bathroom.id %>" id="bathroom-id"></span>
    <i data-id="1" class="far fa-star fa-2x" id="star-icon"></i>
    <i data-id="2" class="far fa-star fa-2x" id="star-icon"></i>
    <i data-id="3" class="far fa-star fa-2x" id="star-icon"></i>
    <i data-id="4" class="far fa-star fa-2x" id="star-icon"></i>
    <i data-id="5" class="far fa-star fa-2x" id="star-icon"></i>
    <!--  -->
  </div>
<span class="hidden" id="toilet-lat"><%= @bathroom.latitude %></span>
<span class="hidden" id="toilet-lng"><%= @bathroom.longitude %></span>

    <!-- FINISH BUTTON  -->
    <%= link_to 'FINISH', bathrooms_path,class: "done-blue-btn", id: "finish" %>
    <!------- ICONS ------->
    <div class="share-icons">
      <ul>
         <!-- WHATSAPP -->
      <li>
        <a id="whatsapp-share" href="" target="_blank">
          <i class="fab fa-whatsapp fa-3x"></i>
        </a>
      </li>


        <!-- SMS -->
        <li>
          <a href="https://www.google.com/">
            <i class="fas fa-sms fa-3x"></i>
          </a>
        </li>

      </ul>
    </div>
    <!--------------------->
    <br>
  </div>
</div>

<script>
  // Give link to google maps with directions
  const whatsappLink = document.getElementById("whatsapp-share");
  const bathroomLat = parseFloat(document.getElementById("toilet-lat").innerText);
  const bathroomLng = parseFloat(document.getElementById("toilet-lng").innerText);
  const completeLink = "https://wa.me/?text=http://maps.google.com/maps?q=" + bathroomLat + "," + bathroomLng + "  || Hey ! You can find me here 📍 || iPiPi 💦 ||";
  console.log(completeLink);
  whatsappLink.href = completeLink;
</script>
