<h1>THIS IS THE VIEW</h1>
<%= form_tag bathrooms_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a bathroom"
  %>
  <%= submit_tag "Search", class: "btn btn-sky-blue" %>
<% end %>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
