<br>
<div class="bathroom-card">
  <div id="back-icon">
    <%= link_to bathrooms_path do %>
      <i class="fas fa-chevron-circle-left" id ="back-icon"> </i>
    <% end %>
  </div>
  <br>
  <div class="show-container">

    <br>

    <div class="toilet-infos">
      <i class="fas fa-toilet" id ="toilet-icon"></i>
      <br>
      <div class="show-card-infos">
        <i class="fas fa-map-marker-alt" id ="marker-icon"></i>
        <h1><em><%= @bathroom.location %></em></h1>
        <br>
      </div>
      <br>

      <div class="stars">
        <% (@bathroom.rating.to_i).times do %>
          <i class="fas fa-star" id="star-icon"></i>
        <% end %>
        <% (5 - @bathroom.rating.to_i).times do %>
          <i class="far fa-star" id="star-icon"></i>
        <% end %>
      </div>

      <br>
    </div>

    <br>
  <span class="hidden" id="bathroom-lat"><%= @bathroom.latitude %></span>
  <span class="hidden" id="bathroom-lng"><%= @bathroom.longitude %></span>
  <span class="hidden" id="bathroom-id"><%= @bathroom.id %></span>
  <br>
    <p class="btn go-button" id="goog">GO</p>
  </div>
</div>

<script>
  // Give link to google maps with directions
  const googleLink = document.getElementById("google-maps");
  googleLink.addEventListener('click', (e) => {
  e.preventDefault();
  let originLat = 0;
  let originLng = 0;
  navigator.geolocation.getCurrentPosition(position => {
    originLat = position.coords.latitude;
    originLng = position.coords.longitude;
    console.log(originLng);
    const bathroomLat = parseFloat(document.getElementById("bathroom-lat").innerText);
    const bathroomLng = parseFloat(document.getElementById("bathroom-lng").innerText);
    const bathroomId = parseFloat(document.getElementById("bathroom-id").innerText);
    const completeLink = "https://www.google.com/maps/dir/?api=1&origin=" + originLat + "," +
      originLng + "&destination=" + bathroomLat + "," + bathroomLng + "&travelmode=walking";
    const maps = window.open(completeLink, "_blank");
    const done = window.location.replace("/bathrooms/" + bathroomId + "/done");
    return maps, done;
  });
});
</script>

<!--  I don't think we need to display the longitude and latitude infos to
  the user in the show page but the walking distance from the location.

<h1> Latitude: <%= @bathroom.latitude %> </h1>
    <h1>Longitude: <%= @bathroom.longitude %></h1> -->
