<br>

 <div class="back-icon">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-circle-left" id = "back-icon"> </i>
    <%end%>
  </div>

<div class="show-container">

  <br>

  <div class="show-card-infos">
    <i class="fas fa-map-marker-alt" id = "marker-icon"></i>
    <h1><em><%= @bathroom.location %></em></h1>
    <br>
  </div>

  <div class="toilet-infos">
    <i class="fas fa-toilet" id = "toilet-icon"></i>
    <br>
    <br>
    <% @bathroom.rating.times do %>
      <i class="fas fa-star" id = "star-icon"></i>
    <%end%>
    <% (5 - @bathroom.rating).times do %>
      <i class="far fa-star" id = "star-icon"></i>
    <% end %>
    <br>
  </div>

  <br>
    <%= link_to 'GO',root_path(lat: @bathroom.latitude, lng: @bathroom.longitude) %>
  </div>

</div>



<!--  I don't think we need to display the longitude and latitude infos to
  the user in the show page but the walking distance from the location.

<h1> Latitude: <%= @bathroom.latitude %> </h1>
    <h1>Longitude: <%= @bathroom.longitude %></h1> -->

