<h1>  <%= @bathroom.location %> </h1>
<h1>  <%= @bathroom.rating %> stars </h1>
<h1> Latitude: <%= @bathroom.latitude %> </h1>
<h1>Longitude: <%= @bathroom.longitude %></h1>
<h1>enabled: <%= @bathroom.enabled %></h1>
